:root {
	--shadow-color: 213deg 44% 48%;
	--shadow-elevation-high: -0.2px 0.1px 0.3px hsl(var(--shadow-color) / 0.27),
		-1.1px 0.5px 1.4px -0.3px hsl(var(--shadow-color) / 0.27),
		-2px 0.9px 2.5px -0.6px hsl(var(--shadow-color) / 0.27),
		-3px 1.4px 3.7px -0.8px hsl(var(--shadow-color) / 0.27),
		-4.4px 2.1px 5.5px -1.1px hsl(var(--shadow-color) / 0.27),
		-6.4px 3px 8px -1.4px hsl(var(--shadow-color) / 0.27),
		-9px 4.2px 11.2px -1.7px hsl(var(--shadow-color) / 0.27),
		-12.7px 5.9px 15.8px -1.9px hsl(var(--shadow-color) / 0.27),
		-17.4px 8.1px 21.6px -2.2px hsl(var(--shadow-color) / 0.27),
		-23.5px 10.9px 29.1px -2.5px hsl(var(--shadow-color) / 0.27);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Rubik", sans-serif;
	line-height: 150%;
	outline: 1.5px solid black;
	/* border: 1.5px black solid; */
}
/* .header *{
    border: 3px black solid;
} */
ul {
	display: flex;
	text-decoration: none;
	list-style-type: none;
	gap: 24px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* overflow:auto; */
}

.header {
	background-color: #0d1b2a;
	color: white;
	flex-direction: column;
	display: flex;
	align-items: center;
}
.header-bar {
	display: flex;
	justify-content: space-between;

	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
	width: 70%;
	gap: 24px;
	flex-wrap: wrap;
}
.sticky {
	background-color: #0d1b2a;
	color: white;
	flex-direction: column;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 1000;
}
@media (max-width: 1600px) {
	.header-bar {
		justify-content: center;
	}
}

.header-bar * {
	align-items: center;
	color: #e0e1dd;
}
.header-bar-logo {
	display: flex;
	font-size: 24px;
	font-weight: bold;
	color: #f9faf8;
	flex-direction: row;
	text-align: center;
	font-style: italic;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow: hidden;
}

.header-bar-logo img {
	width: 3vw;
	min-width: 48px;
	margin-right: 8px;
}
.header-bar-nav a {
	color: #e5e7eb;
	font-size: 18px;
	justify-content: space-evenly;
	overflow: hidden;
	text-decoration: none;
}

.header-hero {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 4em 0;
	flex-wrap: wrap;
	align-items: center;
	gap: 24px;
	overflow: hidden;
	scroll-margin-top: 10em;
}
.header-hero-content {
	/* flex-basis: 60%; */
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	color: #e0e1dd;
	flex-grow: 1;
	flex-basis: 320px;
}
.header-hero-content h1 {
	font-size: calc(1.5rem + 1.5vw);
	font-weight: 700;
}
.header-hero-content p {
	color: #e0e1dd;
	font-size: calc(1rem + 0.2vw);
	color: #e5e7eb;
}
.header-hero-content-button {
	background-color: #778da9;
	color: white;
	border: 0;
	padding: 8px 24px 8px 24px;
	border-radius: 8px;

	font-size: calc(1rem + 0.2vw);
	text-decoration: none;
}

.header-hero-image-container {
	display: flex;
	justify-content: flex-end;
	height: 100%;
	min-width: 250px;
	flex-grow: 0;
	flex-basis: 20vw;
}

.header-hero-image {
	max-width: 100%;
	display: flex;
	border: 3px solid #778da9;
	border-radius: 24px;
}

main {
	display: flex;
	flex-direction: column;
	flex-basis: auto;
}
.main-section {
	display: flex;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
}
.main-section-1 {
	flex-direction: column;
	display: flex;
	align-items: center;
	background-color: #e0e1dd;
	gap: 2em;
}
.boxes {
	display: flex;
	overflow: hidden;
	justify-content: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin-bottom: 5rem;
	gap: 100px;
}

.whatido {
	color: #1f2937;
	font-size: calc(1.7rem + 1.5vw);
	font-weight: 400;
	text-align: center;
	margin-top: 5rem;
}
.main-section-1 > div {
	width: 70%;
}
.box-content {
	display: flex;
	font-weight: 300;
	font-size: calc(1rem + 0.2vw);

	flex: 1;
	max-width: 90%;
	margin-top: 2em;
}

.boxes .box {
	color: #1f2937;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;

	flex-basis: calc(25% - 75px);
}
.box-image {
	display: flex;
	flex-direction: column;
}
.box-image img {
	object-fit: contain;
	width: 12em;
	height: 12em;
	border-radius: 1rem;
	border: 5px solid #0d1b2a;
	background-color: #415a77;
}
.box-header {
	font-size: calc(1.2rem + 0.4vw);
	display: flex;
	flex-grow: 0;
	flex-basis: 100px;
	align-items: center;
	font-weight: 500;
}

.main-section-2 {
	background-color: #778da9;
}

.about-container {
	width: 70%;
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
	gap: 48px;
	text-align: justify;
	margin: 10rem auto;
}
.about {
	display: flex;
	align-items: center;
	text-align: justify;
}
.about-header {
	font-size: calc(2rem + 2vw);
	justify-content: center;
	flex-direction: column;
	flex-basis: 300px;
	flex-grow: 1;
}
.about-header.about img {
	object-fit: contain;
	width: 4em;
	height: 4em;
}
.hakkimda-paragraf{
	height: 100%;
}
.about-content.about div:nth-child(3) p{
	width: 1.5em;
}
.float-left {
	float: left;

	width: 3em;
	height: 100%;

	object-fit: contain;
	margin-right: calc(0.1rem + 0.3vw);
}
.about-content {
	font-size: calc(0.9rem + 0.45vw);
	justify-content: center;
	flex-direction: column;

	gap: 48px;
	flex-basis: 400px;
	flex-grow: 4;
}
.about-content.about p {
	align-self: flex-start;
}
.main-section-3 {
	align-items: center;
	scroll-margin-top: 0;
	background-color: #415a77;
}
.cta-container {
	box-sizing: content-box;
	display: flex;

	flex-basis: 21%;

	height: 500px;
	background-color: #1b263b;
	color: white;
	padding: clamp(1em, 1.5vw, 5em) clamp(0.5em, 1.5vw, 3.5em);

	border-radius: 6px;
	margin: 6em auto;
	flex-wrap: wrap;
}

.cta-content-text-1 {
	display: flex;
	font-size: calc(0.8rem + 0.5vw);

	height: 10%;
	font-family: "Ubuntu", serif;
	font-weight: bold;
	width: 100%;
}
.form-container {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 100%;
}
.form-section {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.form-division {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.form-buton {
	flex-grow: 0;
	font-family: "Ubuntu", serif;
	font-size: medium;
	width: 40%;
	background-color: #778da9;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 4px;
}
.form-label {
	font-family: "Ubuntu", serif;
	font-weight: 500;
	color: #cbcfd5;
	margin-bottom: 6px;
}
.form-input {
	width: 100%;
	background-color: #444e5e;
	border: 1px white solid;
	border-radius: 6px;
	color: white;

	font-size: medium;
	padding: 8px;
}
.form-input::placeholder,
.form-input-textarea {
	color: #949ca8;
}

.form-mesaj {
	height: 0;
	min-height: 0;
	flex-grow: 5;
}
.form-input-textarea {
	background-color: #444e5e;
	border: 1px white solid;
	border-radius: 8px;
	color: white;
	padding: 8px;
	margin-bottom: 24px;
	min-width: 100%;
	max-width: 30vw;
	min-height: 40%;
	height: 100%;
}

.footer {
	display: flex;
	background-color: #0d1b2a;
	color: white;
	justify-content: center;

	padding-top: clamp(1rem, 1.667vw, 2rem);
	padding-bottom: clamp(1rem, 1.667vw, 2rem);
}
@media (max-width: 848px) {
	.cta-container {
		flex-basis: 60%;
	}
	.cta-content-text-1 {
		font-size: 4vw;
	}
	.form-buton {
		width: 100%;
	}
	.header-hero {
		justify-content: center;
		align-items: center;
		gap: 72px;
	}
	.header-bar {
		gap: 1vh;
		margin-top: 1vh;
		margin-bottom: 1vh;
	}
	.header-bar-logo img {
		min-width: 6vw;
		margin-left: 0px;
	}
	.header-bar-logo {
		font-size: 3vw;
	}
	.header-bar-nav {
		gap: 3vw;
	}
	.header-bar-nav a {
		font-size: 3vw;
	}
	.header-hero-content {
		align-items: center;
		gap: 36px;
		text-align: center;
	}
	.header-hero-image-container {
		min-width: unset;
		flex-basis: 70%;
	}
}
@media (max-width: 1526px) {
	.boxes .box {
		flex-basis: calc(33.33333% - 66.66666px);
	}
}

@media (max-width: 1109px) {
	.boxes .box {
		flex-basis: calc(50% - 50px);
	}
}

@media (max-width: 691px) {
	.cta-container {
		flex-basis: 70%;
	}
	.boxes .box {
		flex-basis: calc(100%);
	}
}
/* ThanksPage */
